body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.video-container {
    position: relative;
    width: 80%;
    padding-bottom: 45%; /* 16:9 aspect ratio */
    height: 0;
    top: 30px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
}


.nativeBannerAd
{
  position: absolute;
  top: 3px;
  width: 300px;
  height: 250px;
  
}

.box {
  background-color: #f0f0f0;
  position: absolute;
  bottom: 6%;
  text-align: center;
  width: 300px;
  animation: fadeIn 2.5s ease-in-out;
}

.box p {
  
 
  font-size: 15px;
  font-weight: bold;
  font-family: "Merienda", sans-serif;
  margin-bottom: 20px;
  animation: textAnimation 3s infinite alternate;
}

@keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

@keyframes textAnimation {
            0% {
                color: #007bff;
            }
            50% {
                color: #ff0000;
            }
            100% {
                color: #007bff;
            }
        }